.gradle
.idea
*.iml
build
template_jasper
out/
tmp/
bin/
.classpath
.project
.settings/
.vscode/
.DS_Store
ansible-playbook*.retry
.vagrant/
ansible-playbook.yml
/application.yml
deploy.sh
dss.service
./application.properties
setup.local.sh
dbconfig.yml
db.forwarding.sh
script.sh
soapui-project.xml
swagger.json
migrations
core.zip
migration.sql
rebuild.sh
patch
**/*.orig
application.properties.txt
notes.txt
run.sh
ssl/cert.pem
ssl/key.pem
.sts4-cache
application-local.yml
**/*.retry
notes.security.txt
edward.json
dss-backend-repo
sentry.properties
*.swp
*~
vim.exe.stackdump
logs/
